


<mat-drawer-container class="navigation-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <button mat-icon-button class="sidenav-button">
      <mat-icon>checklist</mat-icon>
      Notizen
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    
    <mat-toolbar color="primary">
        
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      <span>ToDo-List</span>
    </mat-toolbar>
  </div>

</mat-drawer-container>


<router-outlet></router-outlet>