
.navigation-container {
    height: 100%;
    .sidenav {
        width: 200px;
        padding-top: 5rem;
        background-color: #3F51B5;
        padding-left: 1.5rem;
        .sidenav-button {
            color: white;
        }
    }
}





