


<mat-drawer-container class="navigation-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <img src="../assets/img/logo.png" alt="Logo Stashcat">
    <div>
      <button mat-button class="sidenav-button">
        <mat-icon>checklist</mat-icon>
        Notizen
      </button>
    </div>
    <div>
      <button mat-button class="sidenav-button">
        <mat-icon>delete</mat-icon>
        Papierkorb
      </button>
    </div>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    
    <mat-toolbar color="primary">
        
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      <span>ToDo-List</span>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>


