
.navigation-container {
    height: 100%;
    .sidenav {
        width: 175px;
        background-color: #3F51B5;
        img {
            width: 135px;
            margin-top: 16px;
            margin-left: 16px;
        }
    }
    .router-container{
        padding: 40px 20px;
    }
}





